* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

.col-12 {
    flex-basis: 100%;
    /* flex: 100% 0 0; */
    flex-grow: 0;
    flex-shrink: 0;


}

.col-11 {
    flex-basis: 91.66%;
    /* 100%/12*11 */
    flex-grow: 0;
    flex-shrink: 0;
}

.col-10 {
    flex-basis: 83.33%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-9 {
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-8 {
    flex-basis: 66.66%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-7 {
    flex-basis: 58.33%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-6 {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-5 {
    flex-basis: 41.66%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-4 {
    flex-basis: 33.3%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-3 {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-2 {
    flex-basis: 16.66%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col-1 {
    flex-basis: 8.33%;
    flex-grow: 0;
    flex-shrink: 0;
}

.card {
    background-color: #ed9828;
    margin-bottom: 35px;
    border: 2px solid #432616;
    padding:  25px 25px;
    margin: 25px;
   
}

table{
    border: 1px solid red;
    padding: 20px 20px;
    margin: 10px;
}

th{
    border: 1px solid rgb(200, 51, 51);
    margin: 20px;
    padding: 10px 10px;
}
